# ==========================================================
# Python
# ==========================================================

venv/
.venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================================
# Flask
# ==========================================================

instance/
*.db

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# macOS
# ==========================================================

.DS_Store

# ==========================================================
# Terraform
# ==========================================================

.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Keep the provider lock file
!.terraform.lock.hcl
!terraform/.terraform.lock.hcl
terraform.zip